body{
    background: linear-gradient(to bottom right,rgba(0,16,171,0.96),rgba(57,255,243,1));
}
header{
    font-family: 'Poppins', sans-serif;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    font-weight: 600;
    font-size: 3rem;
    
}
h2{
    font-family: 'Poppins', sans-serif;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
    font-size: 8rem;
    background: -webkit-linear-gradient(left,rgba(0,16,171,0.96),rgba(57,255,243,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container{
    margin-top: 100px;
    text-align: center;
    height: 500px;
    width: 325px;
    border-radius: 25px;
    background: white;
    box-shadow: 10px 10px 30px 10px rgba(31, 30, 30, 0.533);
}
i{
    padding: .6rem;
    color: white;
    background:rgba(0,16,171,0.96);
    border-radius: 20px;
    align-items:left;
}
button{
    display: inline-block;
    margin-top: 1rem;
    background: #fff;
    color: #0010abf5;
    padding: .8rem 3rem;
    border: .2rem solid #0010abf5;
    font-size: 1.5rem;
    border-radius: 35px;
}

button:hover{
    background: #0C1BA4;
    color: white;
    
}
button:hover i{
    color: #0C1BA4;
    background: white;
}
